# Node modules
node_modules/
docs/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories/files
.vscode/
.idea/
*.png
# Temporary files
*.tmp
*.swp
# wasm build artifacts
wasm/build/
wasm/CMakeFiles/
wasm/CMakeCache.txt
wasm/cmake_install.cmake
wasm/Makefile